// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/bootstrap/alert";
@import "component/bootstrap/ajax";
@import "component/bootstrap/breadcrumbs";
@import "component/bootstrap/field";
@import "component/bootstrap/file";
@import "component/bootstrap/filter";
@import "component/bootstrap/form";
@import "component/bootstrap/icon";
@import "component/bootstrap/navbar";
@import "component/bootstrap/panel";
@import "component/bootstrap/progress-bar";
@import "component/bootstrap/table-drag";
@import "component/bootstrap/tabs";
@import "component/bootstrap/toolbar";

// Custom
@import "component/drupal/banner";
@import "component/drupal/menu";
@import "component/drupal/node";
@import "component/drupal/field-body";
@import "component/drupal/paragraphs";
@import "component/drupal/block";
@import "component/drupal/views";
@import "component/drupal/throbber";

// Layout
@import "layout/header";
@import "layout/footer";

// Vendor
// jQuery UI style overrides.
@import "vendor/jquery-ui/autocomplete";



div#sliding-popup, div#sliding-popup .eu-cookie-withdraw-banner, .eu-cookie-withdraw-tab {
  background: $black;

  .agree-button, .decline-button {
    border: 0;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: $font-family-base;
    color: $white;
    box-shadow: none;
    border-radius: 2px;
    text-shadow: none;

    &:hover {
      background-color: $brand-primary;
    }
  }

  .agree-button {
    background: $brand-success;
  }

  .decline-button {
    background: $brand-danger;
  }

  .eu-cookie-compliance-message {
    margin: 15px 0 0;

    button {
      color: $brand-primary;

      &:hover {
        text-decoration: none;
        opacity: .6;
      }
    }
  }
}
